@model IEnumerable<Diary.Controllers.HashTagsController.HashTagCount>

@{
    ViewBag.PageTitle = "Hashtags";
}

<h2>Hashtags</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Hashtag", "Index", "Hashtags")
        </th>
        <th>
            @Html.ActionLink("Count", "Popular", "Hashtags")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Index", "Posts", new { hashtag = @item.Name.Remove(0,1) }, new { @class = "hashtag" })
        </td>
        <td>
            @item.Count 
        </td>
    </tr>
}

</table>
